<div class="hero-unit">
  <h1>Total revenue: <%= @revenue %>!</h1>
  <p><%= @purchases.size %> purchases have been made!</p>
</div>

<% if @subsidiary_data.any? -%>
   <% for item in @subsidiary_data  %>
     <div class="well">
       <%= debug item%>
       <%= link_to 'destroy',  subsidiary_datum_path(item.id), method: :delete, confirm: 'are you sure you want to remove this data?'%>
     </div>
   <% end %>
<% else -%>
  No subsidiary data found. <%= link_to "upload some data?", new_subsidiary_datum_path %>
<% end -%>
